body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    overflow: hidden;
}
body::backdrop{
    background: url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    text-align: center;
}

.clock{
    display: flex;
    position: relative;
    width: 80%;
    height: 50%;
}
.clock div{
    margin: 5px;
    width: 100%;
}
.clock span:not(last-child){
    width: 100%;
    height: 85%;
    background-color: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 700%;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);

}
.clock .text{
    height: 15%;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.55;
}

.clock #ampm{
    bottom: 5px;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: darkblue;
    opacity:  0.55;
}

.clock div:last-child{
    width: 0px;
}

#fullscreen-btn{
    position: absolute;
    color: darkmagenta;
    top: 10px;
    right:10px;
    background: none;
    border: none;
    cursor: cell;
}

